name: ShellCheck & Unit Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Install ShellCheck 0.11.0
        run: |
          curl -fsSL "https://github.com/koalaman/shellcheck/releases/download/v0.11.0/shellcheck-v0.11.0.linux.x86_64.tar.xz" | tar -xJ
          sudo cp shellcheck-v0.11.0/shellcheck /usr/local/bin/
          rm -rf shellcheck-v0.11.0
          shellcheck --version
      - name: Run ShellCheck on entry scripts
        run: shellcheck -s sh -S warning setup-k8s.sh
      - name: Run ShellCheck on common modules
        run: shellcheck -s sh -S warning lib/*.sh
      - name: Run ShellCheck on command modules
        run: shellcheck -s sh -S warning commands/*.sh
      - name: Run ShellCheck on distro modules
        run: shellcheck -s sh -S warning distros/**/*.sh
      - name: Run ShellCheck on test runners
        run: shellcheck -s bash -S warning test/run-e2e-tests.sh test/run-ha-test.sh test/run-ha-init-test.sh test/run-ha-failover-test.sh test/run-deploy-test.sh test/run-backup-test.sh test/run-renew-test.sh test/run-upgrade-test.sh test/run-unit-tests.sh test/run-generic-test.sh test/lib/vm_harness.sh
      - name: Run ShellCheck on unit test modules
        run: shellcheck -s bash -S warning test/unit/*.sh

  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Run unit tests
        run: bash test/run-unit-tests.sh
